@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.btn{
    font-family: 'Poppins', sans-serif;
    padding: 0.1rem 0.6rem;
    font-size: 16px;
    border: 0;
    border-radius: 8px,
}
.btn:hover{
    transition: 6.9ms ease-in-out;
    text-decoration: underline;
}