.card{
    width: 170px;
    
    height: 130px;
    flex-wrap: wrap;
    display: flex;
    
    flex-direction: column;
    padding: 70px;
    border-radius: 12px;
background: #FFF;
box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
}
img{
    width: 100%;
    align-self: center;
    justify-self: center;
}