.devSection{
    font-family: var(--font-family);
    font-size: var(--ordinary-text-font-size);
    color: var(--main-text-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3rem;
}

.h2{
    width: 60%;
    font-size: var(--heading2-font-size);
}

.h3{
    font-size: 2.2rem;
    width: 100%;
    display: grid;
     grid-template-columns: repeat(3, 1fr);
     justify-content: space-between;
     align-items: center;
}

.showcase{
    padding: 20px;
    width: 100%;
    height: 40rem;
    color: white;
    background-image: url(../../../../assets/homeShowcase.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 20px 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    h2{
    font-size: var(--heading2-font-size);
        
    }
    p{
    font-size: var(--ordinary-text-font-size);

    }
}
.apply{
    margin: 20px auto;
}
@media(max-width:750px){
    .h2{
        width: 80%;
    }
    .h3{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:550px){
    .h2{
        width: 100%;
    }
    .h3{
        grid-template-columns: repeat(1, 1fr);
    }
    .showcase{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}