.startSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3rem;
    margin: 2rem auto;
    .startCards{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;  
    }
}