@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}
.technologiesPage .technologiesCards{
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 20px;
    width: 100vw;
    padding: 0 70px;
   
}

ul{
    padding: 50px 70px;
    display: flex;
    gap: 10px;
}

ul li:active{
    
    background-color: yellow;
    padding: 5px 10px;
    border-radius: 12px;
    border: none;
    color: black;
}
ul li a{
color: #9F9F9F;
text-align: center;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
}