.social{
    padding: 8rem 0;
   .social-heading{
    color:var(--main-text-color);
    font-family: var(--font-family);
    font-size: 2.875rem;
   } 
   .social-links{
    display: flex;
    gap: 20px;
    .s-link{
        padding-top: 2rem;
        font-size: 3rem;
        color: var(--main-text-color);
        // background: white;
    }
   }
}