.global-card-row{
    display: flex;
    gap:35px;
    width: 35%;

    .flex-col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}


.global-card{
    display: flex;
    flex-direction: column;
    gap:15px;
    width: 20%;

}

.card-icon{
    background-color: #FFF856;
    border-radius: 12px;
    width: 78px;
    height: 78px;
    text-align: center;
}
.card-heading{
    color: var(--main-text-color);
    font-family: var(--font-family);
    font-size: var(--ordinary-text-font-size);
    line-height: 2.25rem;
    font-weight: 600;
}
.card-bottom-txt{
    color: var(--main-text-color);
    font-family: var(--font-family);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: normal;
}